<div class="box" style="height:50px" >
</div>
<div>
<div class="box" >
  <ul class="timeline-events">
    <li *ngFor="let td of toApprove" [style.width.%]="td.width" class="timeline-event approval">
    <h2 >{{td.prices[0]}}</h2>
    </li>
  </ul>
</div>
<div class="box" >
  <ul class="timeline-events">
    <li *ngFor="let td of timelineData" [style.width.%]="td.width" class="timeline-event" [ngClass]="{'actualPrice' : td.state === 'CURRENT',
      'pastPrice': td.state === 'PAST', 'futurePrice' : td.state === 'FUTURE'}">
      <a *ngIf="!td.isFirstElement" class="half-circle-left" [ngClass]="{'actualPrice' : td.state === 'CURRENT',
        'pastPrice': td.state === 'PAST', 'futurePrice' : td.state === 'FUTURE'}"></a>
      <a *ngIf="!td.isLastElement" class="half-circle-right actualPrice" [ngClass]="{'actualPrice' : td.state === 'CURRENT' || 'PAST', 'futurePrice' : td.state === 'FUTURE'}"></a>
      <p>{{td.prices[0]}}</p>
    </li>
  </ul>
</div>
</div>
